@model ShawarmaHousePortal.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBrith)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBrith)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.GenderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maried)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maried.MName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaveDriveLicence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HaveDriveLicence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInjured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInjured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaveMidecal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HaveMidecal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaveSurjury)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HaveSurjury)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSmoke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSmoke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHavePreviousOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHavePreviousOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSeprated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSeprated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHaveCrime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHaveCrime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHaveSpicialWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHaveSpicialWork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobCanDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobCanDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeroudTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeroudTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gaols)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gaols)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhyChoosCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhyChoosCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSubmit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSubmit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmpId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
